body {
  font-family: 'Finlandica', sans-serif;
  margin: 0;
}

.cover-section {
    background: url(image/donation01.jpg);
    background-size: cover;
    padding: 60px;
    text-align: center;
    width: auto;
    height: 400px;
    color: white;
}

.cover h1{
  font-size: 50px;
}
.cover p{
  font-size: 20px;
  /* color: blue; */
}

.button-link{
  margin: 50px;
}

.button-link a{
  text-decoration: none;
  background-color: #ff7272;
  margin: 10px;
  padding: 15px;
  color: white;
  border-radius: 5px;
}

.donate-today {
  text-align: center;
}

.donate-today h1{
  font-size: 45px;
  margin-top: 100px;
  margin-bottom: -1px;
  padding-bottom: 5px;
}

.price{
  display: flex;
  justify-content: center;
}

.price h1{
  padding: 20px;
  margin-left: 2%;
  margin-right: 2%;
  padding: 15px;
  background-color: whitesmoke;
  justify-content: center;
}

.price-color {
  color: #ff7272;
  background-color: #FFEEEE;
  border: 3px solid #ff7272;
  border-radius: 5px;
}

.center{
  text-align: center;
}

.input-price {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
}
#input-field {
  border: 0;
  border-bottom: 2px solid #eee;
  text-align: center;
  font-size: 1.25rem;
  font: inherit;
}



  